# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientist use are: 
* Pyhton
* R
* SQL
* Scala
* Java

Objectives:
* List some popular Languages used by data science
* List come commonly used data science library
* List some common data science tools
* Perform some simple arithmetic operations

#### Some of the commonly used libraries used by Data Scientists include:
* ggplot
* Scikit-learn
* TensorFlow
* Matplotlib

|Data Science Tools|
|----|
|MySQL|
|Pixie Dust|
|Kubernetes|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#  This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author 
Amritpal Singh